/* reset */
body, h1, h2, h3, h4, h5, h6, ul, figure, figcaption, button {margin: 0; padding: 0;}
body{font-family: NotoKR, "맑은 고딕", "Malgun Gothic", sans-serif; font-weight: 200; font-size: 16px; color: #666; line-height: 1;}
h1, h2, h3, h4, h5, h6{font-size: 100%; color: #fff;}
em {font-style: normal;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color: inherit}
img{vertical-align: top; border: none}
address{font-style: normal}
button {border: none; background: none;}
header, nav, section, article, footer, aside, figure, figcaption{display: block;}
.f_l {float: left;}
.f_r {float: right;}
.blind {position: absolute; top: 0; left: 9999px;}

/* layout */
#wrap {min-width: 1180px; margin: 0 atuo; overflow-y: hidden;}
#header {position: fixed; top: 0; left: 0; right: 0; z-index: 1000;}
#header .logo {text-align: center; padding-top: 20px;}
#header .logo a {display: inline-block; width: 70px; height: 70px; background:url("../img/common/logo.png") no-repeat left -70px; text-indent: -9999px;}

/* nav */
.open_btn, .close_btn {text-indent: -9999px;}
.open_btn {position: fixed; top: 30px; right: 50px; width: 70px; height: 70px; border: 1px solid #fff;}
.open_btn .line {position: absolute; left: 21px; width: 26px; height: 3px; background: #fff;}
.close_btn, .close_btn:before, .close_btn:after  {position: absolute; }
.close_btn {top: 30px; right: 50px; width: 45px; height: 45px; transition: transform 0.5s;}
.close_btn:before, .close_btn:after {content: ''; top: 22px; left: 0; width: 100%; height: 1px; background: #000;}
.close_btn:before {transform: rotate(45deg)}
.close_btn:after {transform: rotate(-45deg)}
.close_btn:hover, .close_btn:focus {transform: rotate(90deg);}


.line1 {top: 21px;}
.line2 {top: 32.5px;}
.line3 {top: 46px;}
#gnb {position: fixed; top: 0; bottom: 0; right: -1260px; width: 1260px; padding-top: 29px; background: #fff; text-align: center; display: none;}
#gnb .logo2 {background: url('../img/common/logo.png') no-repeat; width: 70px; height: 70px; display: inline-block; text-indent: -9999px; margin-bottom: 31px;}
#gnb .gnb {position: absolute; top: 50%; left: 0; width: 100%; height: 350px; margin-top: -166px; font-size: 40px; font-weight: 500; color: #333; line-height: 95px;}
#gnb .util {position: absolute; bottom: 0; left: 0; width: 100%; height: 23px; padding: 28.5px 0; border-top: 1px solid #ccc;}
#gnb .util li {float:  left; width: 25%;}
#gnb .util li a {display: inline-block; background: no-repeat left top; padding-left: 33px; height: 23px; line-height: 23px;}
#gnb .util li:nth-child(1) a {background-image: url('../img/common/gnb_icon_nowon.png') ;}
#gnb .util li:nth-child(2) a {background-image: url('../img/common/gnb_icon_road.png');}
#gnb .util li:nth-child(3) a {background-image: url('../img/common/gnb_icon_partner.png');}
#gnb .util li:nth-child(4) a {background-image: url('../img/common/gnb_icon_online.png');}

#gnb .util li a:hover, #gnb .util li a:focus {background-position: 0px -23.5px;}

#fullpage {}

.section {color: #fff;}
.section .anitxt {opacity: 0; position: relative; top: -50px; transition: all 0.5s}
.section.on .anitxt {opacity: 1; top: 0px;}
.section h3.anitxt {transition-delay: 0.5s}
.section p.anitxt {transition-delay: 1s}
.section span.anitxt {transition-delay: 1.5s}
.section div.anitxt {transition-delay: 2s}
#content1 {background: url("../img/index/section_01_type3.jpg"); background-size: cover;}
.section {text-align: center;}
.area {width: 1000px; height: 250px; margin: 0 auto;}
.area h3 {font-size: 23px; font-weight: 400; font-family: 'Noto Sans', sans-serif; padding-bottom: 10px; text-transform: uppercase; position: relative;margin-bottom: 20px;}
.area h3:after {content: ''; width: 110px; height: 1px; background: #fff; position: absolute; bottom: 0; left: 50%; margin-left: -55px; transform: scaleX(0); transition: all 1s 1s;}
section.on .area h3:after {transform: scaleX(1);}

/* 스크롤 애니메이션 */
section.section .icon_wheel{position: absolute;bottom: 50px;left: 0;right: 0;width: 30px;height: 42px;margin: 0 auto;border: 1px solid #fff;-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}/* position: absolute, fixed는 margin:0 auto로 문서에 가운데 위치시킬수 없다. left:0, right:0로 크기 인식이 되면 margin:0 auto로 문서의 가운데로 위치시키는 것이 가능함 */
section.section .icon_wheel span{position: absolute;left: 10px;width: 10px;height: 6px;background: url("../img/common/arrow_wheel.png") no-repeat}
section.section .icon_wheel .top{top: 13px;-webkit-animation: arrow 1s 0s infinite;-moz-animation: arrow 1s 0s infinite;-o-animation: arrow 1s 0s infinite;animation: arrow 1s 0s infinite;}
section.section .icon_wheel .btm{top: 20px;-webkit-animation: arrow 1s 0.5s infinite;-moz-animation: arrow 1s 0.5s infinite;-o-animation: arrow 1s 0.5s infinite;animation: arrow 1s 0.5s infinite;}

@-webkit-keyframes arrow {
  from{opacity: 0.5;}
  to{opacity: 1;}
}
@-moz-keyframes arrow {
  from{opacity: 0.5;}
  to{opacity: 1;}
}
@-o-keyframes arrow {
  from{opacity: 0.5;}
  to{opacity: 1;}
}
@keyframes arrow {
  from{opacity: 0.5;}
  to{opacity: 1;}
}



.area p {font-size: 50px; padding-bottom: 30px; padding-right: 10px; margin: 0; padding: 0; color: #fff; margin-bottom: 30px;}
.area p strong {margin-left: 20px;}
.area span.anitxt {display: block; margin: 10px; color: #fff; margin-bottom: 40px;}
.area span em {padding-left: 30px;}
.area a {display: inline-block; width: 200px; height: 20px; color: #fff; border: 1px solid #fff; text-align: center; padding: 13px 13px; transition: 1s;}
.area a:hover, .area a:focus {box-shadow: inset 15em 0 0 0 #fff; color: #000; font-weight: bold; border-radius: 2px;}
#content2 {background: url("../img/index/section_02_type1.jpg"); background-size: cover;}
#content3 {background: url("../img/index/section_03_type1.jpg"); background-size: cover;}
#content4 {background: url("../img/index/section_04_type2.jpg"); background-size: cover;}

/* footer */
#footer {color: #000;}
.section {width: 1180px; height: 100px; padding: 20px; position: relative;}
.section .left {font-size: 12px;}
.section .left p {float: left;}
.section .right {}
.section .right ul {position: absolute; right: 250px; top: 20px;}
.section .right li {float: left; font-size: 12px; margin-top: 12px;}
.section .right li a {padding: 10px;}
.site {padding: 10px; width: 100px; height: 20px; line-height: 20px; position: absolute; right: 100px; top: 20px; border: 1px solid #ccc; font-size: 12px;}
